<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css">
    <style type="text/css">
      body {
	padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="/">Google-Auth-Demo</a>
	  <div class="nav-collapse">
	    <ul class="nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Link</a></li>
	      <li><a href="#">Link</a></li>
	    </ul>
	  </div>
	  <ul class="nav pull-right">
	    <li class="navbar-text">{{ user }}</li>
	    <li><a href="{{ logout }}">Logout</a></li>
	  </ul>
	</div>
      </div>
    </div>

    <div class="container">
      <h1>{% block h1 %}{{ self.title() }}{% endblock %}</h1>
      <div class="page-header"></div>
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
